@charset "utf-8";

*{margin:0;padding:0;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-appearance:none;}
h1,h2,h4,h5,h6{font-size: 100%;}
div,p,li{max-height: 9999999px;}
ul,ol,li{list-style: none;margin:0;}
a{text-decoration:none;-webkit-tap-highlight-color:transparent;color:#333;}
a:hover,a:active,a:focus{text-decoration: none;}
img{border:none;vertical-align: middle;}
button, input, select, textarea{font-family:'Microsoft Yahei ui','Microsoft Yahei','微软雅黑', Helvetica, '黑体', Arial, Tahoma;font-size: 100%;border:none;resize:none;outline: none;background: transparent;
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none;}
::placaholder {color: #999;};
::-o-placeholder {color: #999; }
::-moz-placeholder {color: #999;}
::-ms-input-placeholder {color: #999;}
::-webkit-input-placeholder {color: #999;}
input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus{outline: none;}
body{font-family:'Microsoft Yahei ui','Microsoft Yahei','微软雅黑', Helvetica, '黑体', Arial, Tahoma;font-size:24px;color: #333;background: #fff;}

.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.left{
	float:left;
}
.right{
	float: right;
}
.clearfix{zoom:1;}
.clearfix:before,.clearfix:after{
    content:"";
    display:table;
    line-height:0;
    visibility:hidden;
}
.clearfix:after{
    clear:both;
}
/*.clearfix:after{
    content:"";
    height:0;
    line-height:0;
    display:block;
    visibility:hidden;
    clear:both;
}
.clearfix{
    zoom:1;
}*/
.hidden{
	overflow: hidden;
}
.n_hide{
	display: none;
}
.indent_2{
	text-indent: 2em;
}
.inline_block{
	display: inline-block;
	_zoom:1;
	*display: inline;
}
.block{
	display: block;
}
.center{
	display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
      
      /* 水平居中*/
   	-webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-pack:center;/* IE 10 */
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;/* IE 11+,Firefox 22+,Chrome 29+,Opera 12.1*/
      
      /* 垂直居中 */
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-align:center;/* IE 10 */
      
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}
.t-center{
	text-align:center;
}
.t-right{
	text-align:right;
}
.flex{
	display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
	display: -moz-box; /* Firefox 17- */
	display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
	display: -moz-flex; /* Firefox 18+ */
	display: -ms-flexbox; /* IE 10 */
	display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
}
.flex1{
	flex:1;
	-webkit-flex:1;
	-moz-flex:1;
	-ms-flex:1;
	display: inline-block;
	_zoom:1;
	_display:inline;
}
.bold{
	font-weight: bold;
}
.normal{
	font-weight: normal;
}
.size12{
	font-size: 12px;
}
.size14{
	font-size: 14px;
}
.size16{
	font-size: 16px;
}
.size18{
	font-size: 18px;
}
.size20{
	font-size: 20px;
}
.size22{
	font-size: 22px;
}
.size24{
	font-size: 24px;
}
.size26{
	font-size: 26px;
}
.size28{
	font-size: 28px;
}
.size30{
	font-size: 30px;
}
.size32{
	font-size: 32px;
}
.size36{
	font-size: 36px;
}
.size40{
	font-size: 40px;
}
.size48{
	font-size: 48px;
}
.size60{
	font-size: 60px;
}
.size102{
	font-size: 102px;
}
.white{
	color:#fff;
}
.black {
	color: #000;
}
.grayce {
	color: #ced0d6;
}
.gray86 {
	color: #868a99;
}
.gray98 {
	color: #9897a6;
}
.gray3{
	color:#333;
}
.gray3:hover,.gray3:active,.gray3:focus{
	color:#333;
}
.gray6{
	color:#666;
}
.gray9{
	color:#999;
}
.graya{
	color: #aaa;
}
.grayb{
	color: #bbb;
}
.grayd{
	color: #ddd;
}
.gray9a{
	color: #9A9AAB;
}
.grayc6{
	color: #c6c6cc;
}
.gray9f{
	color: #9F9898;
}
.gray7a{
	color:#7a7a7a;
}
.grayde{
	color:#666666de;
}
.blue{
	color:#3DAAF2;
}
.green{
	color: #13b644;
}
.yellow{
	color:#ffed44;
}
.gold{
	color:#f4b900;
}
.orange{
	color:#E19448;
}
.red{
	color:#e6002d;
}
.redff {
	color: #ff5f5f;
}
.line38{
	line-height: 38px;
}
.bb_e6{
	border-bottom: 1px solid #e6e6e6;
}
.bg-white{
	background: #fff;
}
.bg-red{
	background: #f74545;
}
.bg-yellow{
	background: #ffc107;
}
.bg-blue{
	background: #3a84ff;
}
.bg_gray_fa{
	background:#fafafa;
}
.bg_gray_f5{
	background:#f5f5f5;
}
.bg_gray_f7{
	background: #f7f7f7;
}
.bg_gray_f8{
	background: #fafafa;
}
.bg_gray{
	/*background: #efeff4;*/
	background-color: #f5f5f5;
}
.bg_black_05{
	background: rgba(0, 0, 0, 0.5);
}
.bg_blue_05{
	background: rgba(2, 16, 35, 0.5);
}
.bg_white_05{
	background: rgba(255, 255, 255, 0.5)
}
.bg_303332{
	background: #303332;
}
.bg_383838{
	background: #383838;
}
.bg_gradient_orange{
	background: -webkit-linear-gradient(83deg, #f76345, #f74845);
    background: -o-linear-gradient(83deg, #f76345, #f74845);
    background: -moz-linear-gradient(83deg, #f76345, #f74845);
    background: -ms-linear-gradient(83deg, #f76345, #f74845);
    background: linear-gradient(83deg, #f76345, #f74845);
}
.bg_gradient_yellow{
	background: -webkit-linear-gradient(83deg, #ff9800, #ffc107);
    background: -o-linear-gradient(83deg, #ff9800, #ffc107);
    background: -moz-linear-gradient(83deg, #ff9800, #ffc107);
    background: -ms-linear-gradient(83deg, #ff9800, #ffc107);
    background: linear-gradient(83deg, #ff9800, #ffc107);
}
.p-10{
	padding:10px;
}
.p-25{
	padding:25px;
}
.pt-5{
	padding-top: 5px;
}
.pt-8{
	padding-top: 8px;
}
.pt-10{
	padding-top: 10px;
}
.pt-15{
	padding-top: 15px;
}
.pt-20{
	padding-top: 20px;
}
.pt-40{
	padding-top: 40px;
}
.pt-80{
	padding-top: 0.8rem;
}
.pt-120{
	padding-top: 1.2rem;
}
.pb-15{
	padding-bottom: 15px;
}
.pb-20{
	padding-bottom: 20px;
}
.pb-40{
	padding-bottom: 40px;
}
.pl-20{
	padding-left: 20px;
}
.pl-50{
	padding-left: 50px;
}
.pr-50{
	padding-right: 50px;
}
.ptb-10{
	padding: 10px 0;
}
.ptb-15{
	padding: 15px 0;
}
.ptb-25{
	padding: 25px 0;
}
.ptb-30{
	padding: 30px 0;
}
.ptb-40{
	padding: 40px 0;
}
.ptb-55{
	padding: 55px 0;
}
.ptb-60{
	padding: 60px 0;
}
.ptb-75{
	padding: 75px 0;
}
.ptb-80{
	padding:80px 0;
}
.ptb-90{
	padding:90px 0;
}
.ptb-110{
	padding:110px 0;
}
.prl-15{
	padding:0 15px;
}
.p-8-30{
	padding:8px 30px;
}
.p-10-20{
	padding:10px 20px;
}
.m0{
	margin:0;
}
.mt-5{
	margin-top: 5px;
}
.mt-7{
	margin-top: 7px;
}
.mt-10{
	margin-top: 10px;
}
.mt-15{
	margin-top: 15px;
}
.mt-18{
	margin-top: 18px;
}
.mt-20{
	margin-top: 20px;
}
.mt-25{
	margin-top: 25px;
}
.mt-30{
	margin-top: 30px;
}
.mt-35{
	margin-top: 35px;
}
.mt-40{
	margin-top: 40px;
}
.mt-45{
	margin-top: 45px;
}
.mt-80{
	margin-top: 0.8rem;
}
.mt-210{
	margin-top: 210px;
}
.mr-20{
	margin-right: 20px;
}
.mr-30{
	margin-right: 30px;
}
.mb-10{
	margin-bottom: 10px;
}
.mb-15{
	margin-bottom: 15px;
}
.mb-20{
	margin-bottom: 20px;
}
.mb-25{
	margin-bottom: 25px;
}
.mb-30{
	margin-bottom: 30px;
}
.mb-35{
	margin-bottom: 35px;
}
.mb-40{
	margin-bottom: 40px;
}
.ml-10{
	margin-left: 10px;
}
.ml-20{
	margin-left: 20px;
}
.ml-30{
	margin-left: 30px;
}
.ml-40{
	margin-left: 40px;
}
.mtb-10{
	margin:10px 0;
}
.mtb-15{
	margin:15px 0;
}
.mtb-25{
	margin:25px 0;
}
.mtb-30{
	margin:30px 0;
}
.m-0{
	margin:0;
}
.m-10{
	margin:10px;
}
.max_width{
	display: block;
	max-width: 100%;
	margin:0 auto;
}
.ellipsis_1{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.ellipsis_2{
	overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2; 
}
.ellipsis_3{
	overflow: hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:3
}
.b-gray{
	border: 1px solid #e5e5e5;
}
.bt-red{
	border-top: 2px solid #f74545;
}
.bb-red{
	border-bottom: 1px solid #f74545;
}
.bt-gray{
	border-top: 1px solid #e5e5e5;
}
.bb-gray{
	border-bottom: 1px solid #eee;
}
.bl-fa{
	border-left: 1px solid #fafafa;
}
.br-f0{
	border-right: 1px solid #f0f0f0;
}
.bb-shawdow{
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.1);
	-o-box-shadow: 0 1px 4px rgba(0,0,0,.1);
	-ms-box-shadow: 0 1px 4px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.1);
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
}
.a-line{
	text-decoration: underline;
}
.a-line:hover,.a-line:active,.a-line:focus{
	text-decoration: underline;
}
